# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
dist/
build/

# Virtual environments
venv/
env/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints/
TabPFN_Demo_Local.ipynb

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Optional: Uncomment to exclude large dataset files
#dataset/*.csv
old-documentation
Dockerfile
pyproject.toml
# requirements.txt

# Results files
results/**/results.pt

## Documentation
docs/
